# Private key of the deployment wallet
PRIVATE_KEY=
# Block explorer API keys - this is used to verify the contract source code on the block explorer
CRONOS_EXPLORER_MAINNET_API_KEY=
CRONOS_EXPLORER_TESTNET_API_KEY=
